// ----- 颜色 -----
$primary-color: #18b4ed; // 主色
$error-color: #f44336; // 错误色
$warning-color: #ffc107; // 警告色
$font-color-em: #00a5e0; // 强调字体颜色，偏蓝
$border-color: #d9d9d9; // 边框颜色
// ----- 尺寸 -----
$header-height: 45px; // 头部高度
