form,
.form {
  .fields-header {
    line-height: 1.8em;
    // font-size: 15px;
    color: #00a5e0;
    padding: 8px 10px;
    small {
      color: black;
      display: inline-block;
      line-height: 1.6;
      // margin-left: 5px;
    }
  }
}

.form-buttons {
  padding: 10px;
}
