// ----- 放到body空间下，避免加载顺序导致不生效------
body {
  .mint-cell-wrapper {
    background-image: none;
    padding: 0 15px;
    font-size: $font-size-m;
  }
  .mint-field-core {
    font-size: $font-size-m;
  }

  .mintui-back:before {
    font-weight: bolder;
  }

  .mint-cell {
    background-image: linear-gradient(0deg, $border-color, $border-color 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 45px;
    &.field-cell {
      .mint-cell-title {
        flex-basis: 120px;
        width: 120px;
        flex: none;
      }
    }
    &.empty {
      .mint-cell-value {
        color: $placeholder-color;
      }
    }
  }
  &:last-child {
    background-image: none;
  }
  .mint-msgbox {
    border-radius: 12px;
    width: 75%;
  }
  .mint-msgbox-confirm {
    color: $primary-color;
  }
  .mint-field-state {
    margin-left: 5px;
    .mintui {
      font-size: 17px; // vertical-align: middle;
      vertical-align: -4px;
    }
  }
  .mint-button--danger {
    background: $el-red;
  }
  .mint-button--warning {
    background: $el-orange;
  }
  .mintui {
    -webkit-text-stroke-width: 0;
  }

  .mint-tabbar {
    background-color: white;
    &>.mint-tab-item {
      color: inherit;
      position: relative;
      .iconfont {
        font-size: 20px;
      }
      .active-onselect {
        display: none;
      }
      &.is-selected {
        color: $primary-color;
        background: none;
      }
    }
  }
  .mint-cell-allow-right::after {
    right: 16px;
  }
  .mint-msgbox-cancel {
    color: $minor-font-color;
  }
  .mint-msgbox-message {
    line-height: 1.5em;
    color: $primary-font-color;
    &.text-left {
      text-align: left;
    }
    th {
      font-weight: normal;
      text-align: right;
    }
    ol>li {
      text-align: left;
      list-style: decimal;
      list-style-position: inside;
    }
  }
  .mint-field .mint-cell-title {
    width: 120px;
  }
  .mint-field-core {
    display: flex;
  }
  .mint-button--primary,
  .mint-header-button {
    a {
      color: white;
    }
  }
  .mint-header-title {
    flex: 2;
    margin: 0;
    line-height: 1.1em;
  }
  .mint-header-button {
    .mint-button--default::before {
      display: none;
    }
    &.is-left {
      .mint-button {
        font-size: $font-size-s;
      }
    }
    small {
      color: white;
    }
  }
  .mint-cell-title {
    flex-shrink: 0;
    white-space: nowrap; // overflow: hidden;
    .iconfont {
      font-size: 12px;
      vertical-align: 1px; // margin-left: 3px;
    }
    .icon-wenhao {
      display: inline-block;
      color: $el-red;
      transform: translateY(-50%); // vertical-align: super;
    }
  }
  .mint-cell-label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mint-cell-value {
    min-width: 0;
    color: $primary-font-color;
    font-size: $font-size-s;
    &.is-link {
      margin-right: 14px;
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .mintui-field-error {
    font-family: 'iconfont'!important;
    &:before {
      content: "\e610";
    }
  }
  .mintui-field-success {
    font-family: 'iconfont'!important;
    &:before {
      content: "\e6e5";
    }
  }
  .mint-field-clear {
    .mintui-field-error {
      font-family: "mintui" !important;
      font-size: 20px;
      vertical-align: -4px;
      &:before {
        content: "\E605";
      }
    }
  }
  .mint-header {
    height: $header-height;
    font-size: 18px;
    color: white;
    background-color: $header-bg-color;
  }

  .mint-button--primary {
    background-color: $primary-color;
    &:active {
      background-color: darken($primary-color, 5%);
    }
  }

  .mint-button {
    border-radius: 2px;
    height: 44px;
    font-size: $font-size-m;
    small {
      color: currentColor;
    }
    &.is-disabled {
      opacity: 0.3;
    }
    &:not(.is-disabled):active::after {
      opacity: 0.05;
    }
    &.mint-button-block {
      display: block;
      width: 100%;
    }
    .mint-button-text {
      white-space: nowrap;
    }
    &.mint-button--default::before {
      content: " ";
      border: 1px solid $font-color-em;
      top: 0;
      right: -100%;
      bottom: -100%;
      left: 0;
      position: absolute;
      transform-origin: left top;
      transform: scale(.5);
    }
    &.mint-button.br2::before {
      border-radius: 4px;
    }
  }

  .mint-toast-icon {
    font-size: 56px;
    &.mintui-field-error {
      color: $error-color;
    }
    &.icon-warning,
    &.icon-ku {
      color: $error-color;
    }
  }

  .mint-field-other {
    position: static; // &:not(:empty) {
    //   margin-right: -10px;
    // }
    .mint-button {
      min-width: 85px;
      font-size: $font-size-xxs;
      border-radius: 0;
      height: 25px;
      background: none;
      box-shadow: none;
      color: $font-color-em;
      padding: 0 7px;
      &.is-disabled {
        opacity: 0.8;
      }
    }
  }
}
