// ----- 放到body空间下，避免加载顺序导致不生效------
body {
  .mint-msgbox-confirm {
    color: $primary-color;
  }
  .mint-field-state {
    margin-left: 5px;
    .mintui {
      font-size: 25px;
      vertical-align: 5px;
    }
  }
  .mint-tab-item-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    a {
      font-size: 14px;
      display: block;
      text-align: left;
      line-height: 55px;
      padding: 0 10px;
      background: $small-gray-color;
      background-image: linear-gradient(180deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: top left;
      &.is-selected {
        background: #eaeaea;
      }
    }
  }
  .mint-tabbar > .mint-tab-item {
    color: inherit;
    position: relative;
    &.is-selected {
      color: $primary-color;
      svg {
        path {
          fill: $primary-color;
        }
      }
    }
    &.is-disabled {
      color: $mid-gray-color;
      svg {
        path {
          fill: $mid-gray-color;
        }
      }
    }
    .icon-arrow-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .mint-msgbox-message {
    line-height: 1.5em;
    &.text-left {
      text-align: left;
    }
    th {
      font-weight: normal;
      text-align: right;
    }
    ol > li {
      text-align: left;
      list-style: decimal;
      list-style-position: inside;
    }
  }
  .mint-field .mint-cell-title {
    width: 120px;
  }
  .mint-field-core {
    display: flex;
  }
  .mint-button--primary,
  .mint-header-button {
    a {
      color: white;
    }
  }
  .mint-header-title {
    flex: 2;
    margin: 0;
    line-height: 1.1em;
  }
  .mint-header-button {
    small {
      color: white;
    }
  }
  .mint-cell-title {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
  }
  .mint-cell-label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mint-cell-value {
    min-width: 0;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .mintui-field-error {
    font-family: 'iconfont'!important;
    &:before {
      content: "\e608";
    }
  }
  .mintui-field-success {
    font-family: 'iconfont'!important;
    &:before {
      content: "\e607";
    }
  }
  .mint-field-clear {
    .mintui-field-error {
      font-family: "mintui" !important;
      font-size: 20px;
      &:before {
        content: "\E605";
      }
    }
  }
}

.mint-header {
  height: $header-height;
  font-size: 18px;
  background-color: $primary-color;
}

.mint-button--primary {
  background-color: $primary-color;
  &:active {
    background-color: darken($primary-color, 5%);
  }
}

.mint-button {
  &:not(.is-disabled):active::after {
    opacity: 0.05;
  }
  &.mint-button-block {
    display: block;
    width: 100%;
  }
}

.mint-toast-icon {
  font-size: 56px;
  &.mintui-field-error {
    color: $error-color;
  }
  &.ui-icon-warn-block {
    color: $error-color;
  }
}

.mint-field-other {
  position: static;
  &:not(:empty) {
    margin-right: -10px;
  }
  .mint-button {
    font-size: 16px;
    border-radius: 0;
    height: 48px;
    background: none;
    box-shadow: none;
    color: $font-color-em;
  }
}
